<div>
  <div>
    <span>firstname: </span>
    <input type="text" placeholder="enter firstname" [(ngMode1)] ="staff.firstname"/>
  </div>
</div>
<div>
  <span>lastname: </span>
  <input type="text" placeholder="enter lastname" [(ngMode1)] ="staff.lastname"/>
</div>
<div>
  <span>bod: </span>
  <input type="text" placeholder="enter bod" [(ngMode1)] ="staff.bod"/>
</div>
<div>
  <span>education: </span>
  <input type="text" placeholder="enter education" [(ngMode1)] ="staff.education"/>
</div>
<div>
  <span>state of orgin: </span>
  <input type="text" placeholder="enter state of origin" [(ngMode1)] ="staff.soo"/>
</div>
<div>
  <span>religion: </span>
  <input type="text" placeholder="enter religion" [(ngMode1)] ="staff.religion"/>
</div>
<button> submit</button>
</div>
