<div>
  <form>

    <div>
      <span>firstname: </span>
      <input type="text" class="form-control col-sm-4" placeholder="enter firstname" [(ngModel)]="staff.firstname" name="Firstname" />
    </div>
    <div>
      <span>lastname: </span>
      <input type="text" class="form-control col-sm-4" placeholder="enter lastname" [(ngModel)]="staff.lastname" name="lastname" />
    </div>
    <div>
      <span>bod: </span>
      <input type="text" class="form-control col-sm-4" placeholder="enter bod" [(ngModel)]="staff.bod" name="bod" />
    </div>
    <div>
      <span>education: </span>
      <input type="text" class="form-control col-sm-4" placeholder="enter education" [(ngModel)]="staff.education" name="education" />
    </div>
    <div>
      <span>state of orgin: </span>
      <input type="text" class="form-control col-sm-4" placeholder="enter state of origin" [(ngModel)]="staff.soo" name="soo" />
    </div>
    <div>
      <span>religion: </span>
      <input type="text" class="form-control col-sm-4" placeholder="enter religion" [(ngModel)]="staff.religion" name="religion" />
    </div>
    <button class="btn btn-primary"> submit</button>
  </form>
</div>

 
